---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Chiefn</title>
	</head>
	<body>
        <nav class="w-full flex gap-3 p-3 mt-3">
            <a class="bg-black bg-opacity-5 px-5 py-1 rounded-xl" href="/">Home</a>
            <a class="bg-black bg-opacity-5 px-5 py-1 rounded-xl" href="/post">Posts</a>
        </nav>
        <main class="p-5">
            <slot />
        </main>
	</body>
</html>